/* Volume Panel - Sensor container */
.volumePanel__sensor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.volumePanel__sensorData {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.volumePanel__sensorLabel {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
