.card {
  background: #c8c6c6;
  display: flex;
  flex-direction: column;
  width: fit-content;
  min-height: 100%;
  padding: 0.5rem;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
}

.titleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}

.title {
  color: #000;
  white-space: nowrap;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
