.card {
  background: #d9d9d9;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;
  align-self: stretch;
  padding: 0.5rem;
  width: 100%;
  position: relative;
  overflow: visible;
  box-sizing: border-box;
}
