.button {
  display: flex;
  width: 1.75rem;
  height: 1.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border: none;
  border-radius: 0%;
  cursor: pointer;
  background-color: #ececec;
  color: #000000;
}

.button:hover {
  opacity: 0.6;
  /* Darker icon color on hover */
}

.button:hover:disabled {
  opacity: 1;
}

.button:disabled {
  background-color: #d1d1d1;
  cursor: not-allowed;
  color: #9e9e9e;
}

.button:active {
  background-color: #e6e6e6;
  color: #8d8d8d;
}
