# env for Next Auth
NEXTAUTH_SECRET=your_secret_key_here
NEXTAUTH_URL=http://localhost:3000/api/auth

# api url example
NEXT_PUBLIC_API_URL=localhost:8081

# LDAP Authentication Settings
LDAP_SERVER_URL=ldap://10.78.0.11
LDAP_BASE_DN=dc=lcs,dc=local
LDAP_USE_TLS=false
# Set to true in production, false in development
NODE_ENV=development