**
!frontend/
!frontend/**
!eli-hmi-config/
!eli-hmi-config/**

frontend/.next
frontend/.npm
frontend/coverage
frontend/node_modules
frontend/npm-debug.log
frontend/.env
frontend/.env.local
frontend/.env.production
