/* Warning container */
.control__warningContainer {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  background: var(--color-surface-light);
}

.control__warningContainer span {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.control__warningBox {
  display: flex;
  flex-direction: column;
}
