.trigger {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  width: 100%; /* Ensure the trigger takes full width */
  padding: 0.5rem;
  gap: 0.5rem;
  box-sizing: border-box;
}
.trigger:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}

.trigger[data-disabled] {
  pointer-events: none;
}
.trigger[data-disabled]:hover {
  pointer-events: none;
  background-color: transparent;
  color: #aaa; /* Disabled state color */
}
.content {
  background-color: #ffffff; /* Set a solid background color */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  animation-duration: 0.2s;
  animation-name: slideUpAndFade;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  width: var(--radix-dropdown-menu-trigger-width); /* Match trigger width */
  min-width: var(--radix-dropdown-menu-trigger-width);
  max-width: 100%;
  display: none; /* defaultně schované */
}

.content[data-state='open'] {
  display: block;
}

/* (volitelné) animace jen na open stav */
.content[data-state='open'] {
  animation-duration: 0.2s;
  animation-name: slideUpAndFade;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
}

.content[data-side='top'] {
  animation-name: slideDownAndFade;
  box-shadow: none;
  margin-bottom: -0.1rem;
  /* Remove any slight gap */
}

.content[data-side='bottom'] {
  animation-name: slideUpAndFade;
  box-shadow: none;
  margin-top: -0.1rem;
  /* Remove any slight gap */
}

.item {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0.5rem 0.5rem;
  position: relative;
  user-select: none;
  cursor: pointer;
  color: #333;
  width: var(--radix-dropdown-menu-trigger-width); /* Match trigger width */
  box-sizing: border-box;
  text-align: left;
  background-color: #e6e6e6; /* Ensure a solid background color */
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}

.item:active {
  background-color: #c1c1c1; /* Active state background */
}

.item[data-disabled] {
  pointer-events: none;
  color: #aaa; /* Disabled state color */
}
