.trigger {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  background: #d9d9d9;
  border: none;
  width: 100%;
  padding: 1.5rem;
}

.content {
  width: var(--radix-dropdown-menu-trigger-width);
  background-color: #e6e6e6;
  border-radius: 0;
  padding: 0;
  margin: 0;
  left: 0 !important; /* Force alignment with the trigger */
  transform: translateX(
    0
  ) !important; /* Prevent any transforms that might shift it */
  z-index: 100;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  box-sizing: border-box;
}

.content[data-side='top'] {
  animation-name: slideDownAndFade;
  box-shadow: none;
  margin-bottom: -0.1rem; /* Remove any slight gap */
}

.content[data-side='bottom'] {
  animation-name: slideUpAndFade;
  box-shadow: none;
  margin-top: -0.1rem; /* Remove any slight gap */
}

.content[data-side='left'] {
  animation-name: slideRightAndFade;
}

.content[data-side='right'] {
  animation-name: slideLeftAndFade;
}

.item {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  position: relative;
  user-select: none;
  line-height: 1;
  cursor: pointer;
  color: #000;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item:hover {
  background: #d9d9d9;
}

.item:first-child {
  border-top: 0.5px solid #8d8d8d;
}

.item:active {
  background-color: #c1c1c1;
}

.item[data-disabled] {
  pointer-events: none;
}

.separator {
  height: 0.1rem;
  background-color: #d1d1d1;
  margin: 0;
}

.title {
  color: #000;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(0.1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    transform: translateY(-0.1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-0.4rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    transform: translateX(0.4rem);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
