/* Control Components Styles */

/* State control trigger */
.control__trigger {
  display: flex;
  padding: 0.5rem;
  height: 2.125rem;
  flex-direction: column;
  justify-content: center;
}

.control__trigger:hover {
  opacity: 0.6;
}

.control__triggerStatus {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.25rem;
}

.control__targetContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.control__targetLabel {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.control__targetIcon {
  width: 0.875rem;
  height: 0.875rem;
}
.control__triggerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.control__triggerContainerText {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Warning container */
.control__warningContainer {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  background: var(--color-surface-light);
}

.control__warningContainer span {
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.control__warningBox {
  display: flex;
  flex-direction: column;
}
